<!doctype html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GÖTEBORGSQUIZ</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/josen1.css">
	</head>
	<body>
		<br>
		<br>
		<h1>{{ question_number }}. {{ question }}</h1><br><p>		
<!-- <form method="get" action="{% url 'results_page' quiz_number %}"> -->
	<form action="{% url "answer_page" quiz.quiz_number question_number %}" method="post">
		{% csrf_token %}
		<label><input type="radio" class="option-input radio" name="answer" value="1" checked> {{ answer1 }}<br></label>
		<label><input type="radio" class="option-input radio" name="answer" value="2"> {{ answer2 }}<br></label>
		<label><input type="radio" class="option-input radio" name="answer" value="3"> {{ answer3 }}<br></label>
		<br>
		<br>
		<br>
    	<label><button type="submit">NÄSTA</button></label>
	</form></p>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</html>