
<!doctype html> 
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZQUIZQUIZQUIZ</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/josen1.css">
		</head>
		<h1>♥ ♥ ♥ QUIZ ♥ ♥ ♥</h1>
		<p>ÄR DU EN EXPERT? </p><br>
	<button type="button">GBG</button><br>
	<br>
	<button type="button">♪ ♫ ♩ ♬</button><br>
	<br>
	<button type="button"> ☀ ☁ ☂</button><br>
<br>
</html>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</html>
