

body {
font-size: 10vw;
font-family: "Fjalla One";
max-width: 600px;
color: gold;
text-align: center;
background-image: url('/static/spårvagngbg.jpg');
background-size: 100%;
background-repeat: no-repeat;
text-align: center;
}

button { 
  background-color: rgb(255, 255, 255);
  font-color: gold;
  border: 0;
  position: center;
  width: 280px;
  height: 280px;
  padding: 40px 63px;
  font-size: 22px;
  line-height: 5.32;
  border-radius: 140px;

}
div {
height: 200%;
width: 200%;
}
h1 {
	font-size: 25pt;
	font-family: "Fjalla One";
	text-align: center;
}
h2 { 
	font-size: 20pt;
	text-align: center;
}
p { 
	text-align: center;
	font-size: 16pt;
}
a { color: gold;
}
.left {
	text-align: left;
}

.column1 {
	background-color: rgb(255, 255, 255);
}
.column2 {
	background-color: rgb(255, 255, 255);
} 
.column3 {
	background-color: rgb(255, 255, 255);
}
